body {
	font-family: sans-serif;
	margin: 20px;
}
.code-container {
	border: 1px solid #ccc;
	overflow: auto;
	max-height: 80vh;
	font-size: 14px;
	line-height: 1.5em;
}
.line-wrapper {
	display: flex;
}
.line-wrapper:hover {
	background: #e9f5ff;
}
.line-numbers {
	background: #f7f7f7;
	text-align: right;
	color: #888;
	user-select: none;
	border-right: 1px solid #ddd;
	padding: 0 10px;
	width: 50px;
}
.code-line {
	flex: 1;
	padding: 0 10px;
	white-space: pre-wrap;
	overflow: hidden;
}

.token.tag {
	color: #d73a49;
	font-weight: normal;
}
.token.attr-name {
	color: #6f42c1;
}
.token.attr-value {
	color: #032f62;
}
.token.text {
	color: #24292e;
}
